%%-*- mode: erlang -*-
{cover_enabled, true}.

{erl_opts, [debug_info,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{deps, [jsx,
        {dns, ".*", {git, "git://github.com/dnsimple/dns_erlang.git", {branch, "master"}}},
        iso8601,
        telemetry,
        opencensus
]}.

{profiles, [{test, [{deps, [proper]}]}]}.

{shell, [{apps, [erldns]},
         {config, "erldns.config.example"}]}.

